@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Your Brand Colors */
  --primary: #0D6EFD;
  --primary-hover: #0a58ca;
  --secondary: #FF8A00;
  --secondary-hover: #e67c00;

  /* Sidebar Branded Colors */
  --sidebar-bg: #09122c;
  /* Deep Branded Navy */
  --sidebar-border: #1a233b;
  --sidebar-hover: #16203a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Mapping Brand Colors to Tailwind classes */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  /* Sidebar Mapping */
  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-hover: var(--sidebar-hover);
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}